venv/
.venv/
env/
ENV/
node_modules/

frontend/


__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


.cache/
models/
*.safetensors
*.bin
*.h5


temp_ela.jpg
*.tmp
*.jfif
*.jpg
*.jpeg
*.png


.DS_Store
Thumbs.db
.vscode/
.idea/


.env